<%- include header %>
<div class="content">

    <div class="content_left">
        <% menus.forEach(function(menu){ %>
        <div class="menu">
            <div class="cart" title="选择" menuId="<%= menu.id %>" menuName="<%= menu.name %>"
                 menuPrice="<%= menu.price %>"></div>
            <a class="menu_img" href="/submit/<%= menu.id %>">
                <img src="<%= menu.imageUrl %>" alt="<%= menu.name %>"/>

                <div class="menu_desc"><%= menu.desc %></div>
                <div class="menu_favor" title="快赞我">♥</div>
                <div class="menu_Id" title="菜式编号"><%= menu.id %></div>
            </a>

            <div class="menu_description">
                <div class="menu_description_left">
                    <a href="/submit/<%= menu.id %>"><%= menu.name %></a>
                    <span>
                        <% if(menu.isHot){ %>
                        <i class="isHot"></i>
                        <% } %>
                        <% if(menu.isSpecialty){ %>
                        <i class="isSpecialty"></i>
                        <% } %>
                    </span>
                </div>
                <div class="menu_description_right">
                    <a><%= menu.price %> RMB</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="content_right">
        <div class="information">
            <h3>公告</h3>
        </div>
    </div>
</div>
<div class="message">
    <div class="menus_container">
        <% orderRecords.forEach(function(record){ %>
        <div class="menu_message" menuId="<%= record.menu.id %>">
            <div class="menu_message_name"><%= record.menu.name %></div>
            <div class="menu_message_total"><%= record.num %></div>
            <div class="menu_message_price">¥ <%= record.menu.price %> </div>
            <div class="menu_message_delete" orderId="<%=record._id%>">x</div>
        </div>
        <% }) %>
    </div>
    <div class="menu_message total">
        <div class="menu_message_name">今日已点</div>
        <div class="menu_message_total"><%= num %></div>
        <div class="menu_message_price">¥ <%= total %></div>
    </div>
</div>
<link rel='stylesheet' href='/css/message.css'/>
<script src="/javascripts/message.js"></script>
<script src="/javascripts/error.js"></script>
<script src="/javascripts/menu.js"></script>
<%- include footer %>
