<%- include header %>
<div class="content">

    <div class="content_left">
        <% menus.forEach(function(menu){ %>
        <div class="menu">
            <div class="cart" title="选择" menuId="<%= menu.id %>" menuName="<%= menu.name %>"
                 menuPrice="<%= menu.price %>"></div>
            <a class="menu_img" href="/submit/<%= menu.id %>">
                <img src="<%= menu.imageUrl %>" alt="<%= menu.name %>"/>

                <div class="menu_desc"><%= menu.desc %></div>
                <div class="menu_favor" title="快赞我">♥</div>
                <div class="menu_Id" title="菜式编号"><%= menu.id %></div>
            </a>

            <div class="menu_description">
                <div class="menu_description_left">
                    <a href="/submit/<%= menu.id %>"><%= menu.name %></a>
                    <span>
                    <!--<i class="menuId"><%= menu.id %></i>-->
                        <% if(menu.isHot){ %>
                        <i class="isHot"></i>
                        <% } %>
                        <% if(menu.isSpecialty){ %>
                        <i class="isSpecialty"></i>
                        <% } %>
                    </span>
                </div>
                <div class="menu_description_right">
                    <a><%= menu.price %> RMB</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="content_right">
        <div class="information">
            <h3>公告</h3>
        </div>
    </div>
</div>
<script src="/javascripts/jquery-1.9.1.js"></script>
<link rel='stylesheet' href='/css/message.css'/>
<script src="/javascripts/message.js"></script>
<script>
    $(function () {
        //menu
        $('.menu').mouseenter(function () {
            $(this).children('a').children('.menu_desc').show();
            $(this).children('a').children('.menu_favor').show();
            $(this).children('.cart').show();
        }).mousemove(function () {
            $(this).children('a').children('.menu_desc').show();
            $(this).children('a').children('.menu_favor').show();
            $(this).children('a').children('.menu_favor').show();
        }).mouseleave(function () {
            $(this).children('a').children('.menu_desc').hide();
            $(this).children('a').children('.menu_favor').hide();
            $(this).children('.cart').hide();
        });


        var addOrder = function (that) {
            var menuId = $(that).attr('menuId');
            var menuName = $(that).attr('menuName');
            var menuPrice = $(that).attr('menuPrice');
            var menu = {
                id: menuId,
                name: menuName,
                price: menuPrice
            };
            $.ajax({
                url: '/addOrder',
                method: 'POST',
                data: {menuId: menuId},
                success: function (response) {
                    if (response.data === 'success') {
                        addMessageOrder(menu);
                        $('.message').animate({bottom: '0px'}, 1000);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        $('.cart').click(function () {

            addOrder(this);
        });
        $('.cart').dblclick(function () {
            addOrder(this);
        });

    });
</script>
<%- include footer %>
