<%- include header %>
<link rel='stylesheet' href='/css/history.css'/>
<div class="content">
    <div class="choose_Date">
        <div class="choose_Date_preview"><a>前一天</a></div>
        <div class="choose_Date_next"><a>后一天</a></div>
    </div>
    <% historys.forEach(function(history){ %>
    <div class="history_date">
        <span>- - - - - - - - - - - </span>
        <span id="historyDate"><%= history.date %></span>
        <span>- - - - - - - - - - - </span>
    </div>
    <% history.data.forEach(function(record){ %>
    <div class="history">
        <div class="history_name"><%= record.menu.name %></div>
        <div class="history_num">¥ <%= record.menu.price %></div>

        <div class="history_status">
            <select name="payStatus" orderId="<%= record._id %>">
                <% payStatus.forEach(function(payStatu){ %>
                <option value="<%= payStatu.id %>"
                        <% if(record.payStatus === payStatu.id){ %>
                        selected
                        <% } %>
                        >
                    <%= payStatu.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="history_payWay">
            <select name="payWay" orderId="<%= record._id %>">
                <% payWays.forEach(function(payWay){ %>
                <option value="<%= payWay.id %>"
                        <% if(record.payWay === payWay.id){ %>
                        selected
                        <% } %>
                        >
                    <%= payWay.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="history_num"><%= record.userName %></div>
        <div class="history_num"><%= record.num %>份</div>
    </div>
    <% }) %>
    <% }) %>

    <div style="text-align: right; margin-right: 40px; font-size: 15px;">总份：<%= totalNum %>  总价： <%= totalPrice %>元
    </div>
</div>
<link rel='stylesheet' href='/css/message.css'/>
<script src="/javascripts/error.js"></script>
<%- include footer %>
<script>
    $(function () {
        $('select').change(function () {
            var name = $(this).attr('name');
            var orderId = $(this).attr('orderId');
            var selectValue = parseInt($(this).val());
            var param = {
                orderId: orderId,
                name: name,
                selectValue: selectValue
            };

            $.ajax({
                url: '/managerOrder',
                method: 'POST',
                data: param,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    showError('修改状态失败！请重试。');
                }
            });
        });
        $('')
    });
</script>