<%- include header %>
<div class="content">
    <div class="content_left">
        <div class="menu_detail_img">
            <img src="<%= menu.imageUrl %>"/>

            <h3 class="menu_detail_name"><%= menu.name %></h3>

            <h3 class="menu_detail_desc"><%= menu.desc %></h3>
        </div>
        <!--<div class="menu_detail_favor">-->


        <!--</div>-->
        <div class="menu_detail_descriptions">
            <div class="menu_detail_descriptions_title">
                <h4>食客评价：</h4>
            </div>
            <% if(!hasDesc){ %>
            <div class="noComment">
                暂无评价哦..
            </div>
            <% } %>
            <% descs.forEach(function(desc){ %>
            <div class="menu_detail_descriptions_list">
                <div class="menu_detail_descriptions_list_info">
                    <%= desc.dateInsert %> <%= desc.userName %>
                </div>
                <div class="menu_detail_descriptions_list_text">
                    <%= desc.desc %>
                </div>
            </div>
            <% }) %>

        </div>

        <form method="post">
            <div class="menu_description_submit">
                <h4>发表评论</h4>

                <div class="menu_description_submit_desc">
                    <textarea name="comment" id="comment" rows="10" tabindex="4"></textarea>
                </div>
            </div>
            <div class="submit_desc_btn">
                <input name="submit" id="submit" type="submit" tabindex="5" value="点击发布 / Ctrl+Enter">
            </div>
        </form>

    </div>


    <div class="content_right">
        <div class="information">
            <h3>公告</h3>
        </div>
    </div>

</div>
<link rel='stylesheet' href='/css/sidebar.css'/>
<script src="/javascripts/jquery-1.9.1.js"></script>
<script src="/javascripts/sidebar.js"></script>
<%- include footer %>
